/* client/src/components/SearchBox.css */
.search-bar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center; /* Center items horizontally */
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 500px;
  margin-right: 5px;
}

.search-bar button {
  padding: 10px;
  background-color: #da2828;
  color: rgb(168, 5, 49);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #da2828;
  color: black;
}
