/* client/src/components/MoviesPage.css */
/* TrendingPage.css */

.trending-list {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 20px;
  padding-bottom: 20px; /* Add some padding at the bottom to prevent content from being partially hidden */
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 220px; /* Add margin-left to account for the navbar */
  color: white;
  
}

.trending-item {
  display: inline-block;
  width: 200px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  background-color:black;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 300px; /* Center text vertically for example purposes */
  color: white;
}

.bookmark-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #da2828;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.bookmark-button:hover {
  background-color: #da2828;
}

.bookmark-button:active {
  background-color: white;
}

